.header {
  height: 200px;
}

.header-side {
  background: url('../images/books.jpg');
  background-size: 200px auto;
  background-repeat: repeat-y;
  height: 200px;
}

.header-main {
  background: white;
  height: 200px;
  font-size: 3em;
  color: grey;
}

.container {
  margin: 20px auto;
  border: 3px solid grey;
}

.page-main {
  margin-top: 20px;
}



