.header {
  height: 200px;
}

.header-side {
  background: url('../images/books.jpg');
  background-size: 200px auto;
  background-repeat: repeat-y;
  height: 200px;
}

.header-main {
  background: white;
  height: 200px;
  h1 {
  font-size: 72px;
  color: grey;
  }
}

.container {
  margin: 20px auto;
  border: 3px solid grey;
}

.page-main {
  margin-top: 20px;
}

@media (max-width: 700px) {
  .main-header h1{
    font-size: 1.5em;
    padding-top: 50px;
  }
}

